<%= simple_form_for(:search, method: :get, url: tools_path, html: { class: "search-form" }) do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= f.error_notification %>
      <%= f.input_field :search_by_name,
                    class: "form-control search-input",
                    placeholder: "Search by tool name" %>
    </div>
    <div class="col-md-4">
      <%= f.button :submit, "Search", class:"md-form mt-0" %>
    </div>
  </div>
<% end %>
