 
<body>

<div class="tool class"></div>
<h1 class="text-center">Rent a tool</h1>


<form action="/create" method="post">
<input type="text" placeholder=" Find a tool...." name="search">
<button class=" btn btn-primary" lenght="">Search</button>
</form>


<div class="mb-3">
<input type="submit" value="Sign up" name="submit" class="submit" />
</div>


<%="Recently rented"%>
<%= image_tag "/app/assets/images/Drill.jpeg" %>
<body>

<%# <label>Enter the Username</label> %>
<%# <input type="text" name="username" />
<label>Enter the Password</label>
<input type="password" name="password" /> %>

<%# <input type="submit" value="Sign up" name="submit" class="submit" />
<input type="submit" value="Login" name="submit" class="submit" /> %>
