.full-viewwidth {
  width: 100vw;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

.banner {

  margin: auto;
  background-size: cover;
  background-position: center;
  padding: 10px 0;
  text-align: left;
}

.marie {
  margin: 0 0;
  background-image: linear-gradient(rgba(206,18,18,1),rgba(122,21,21,1)),
}

.fullheight {
  min-height: 100vh;
  padding-top: 200px;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  //width: 50vw;

  }


.banner h1 {
  margin: 0;
  margin-bottom: 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 15px;
  color: white;
  opacity: .7;
  width: 30%;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#flags {
  width: 200px;
}

.tagline {
  padding: 20px;

}

.tagline .btn{
  margin-right: 10px;

}

.tagline img {
  margin-top: 5px;
  margin-left: 25%;

}

.priscila{
  height: 14rem;
  width: 14rem;
  border-radius: 10px;
}


.booking-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: thick double #b01f0f;
  padding-bottom: 10px;
}


.shit {
  margin-top: 0;
  flex: 1 1 auto;
  margin-left: 15px;
}

.error-container {
  background-color: rgba(206,18,18,1);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 190vh;
}
.message {
  text-align: center;
}
