.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(rgba(206,18,18,0.4),rgba(122,21,21,0.4)) ;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
